{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ message }}</h1>
        <a href="{{ path('wild_index') }}">
            <button type="button" class="btn btn-danger">  Voir les films</button>
        </a>
{% endblock %}
