<header>
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger ">
        <img src="/{{ asset('images/ws.jpeg') }}" width="50" height="50" alt="">
            <a class="navbar-brand text-white" href="{{ path('app_index') }}" > Home </a>

    </nav>
</header>
